.cart-products .row {
  display: grid;
  grid-template-columns: 80px 145px 1fr 10rem 10rem 10rem;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-left: 0;
  margin-right: 0;

  & > div {
    padding: 1rem;
    text-align: center;

    @media (max-width: 540px) {
      padding: .2rem;
    }
  }

  &.heading {
    & > div {
      background: black;
      color: white;
      height: 3.4rem;
      font-weight: bold;

      @media (max-width: 540px) {
        height: 2rem;
      }
    }
  }

  .cart-product-thumb {
    width: 100%;
    max-width: 200px;

    @media (max-width: 540px) {
      max-width: 40px;
    }
  }

  .image img {
    padding: .5rem;
    border: 1px solid #eee;
    width: 70px;
    height: 70px;
    object-fit: contain;
    background: white;
  }

  &:nth-child(odd) {
    background: #fafafa;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .name {
    font-weight: bold;
  }

  .quantity {
    min-width: 10rem;
  }

  .remove {
    text-align: center;

    a {
      color: #e61919;
      font-size: 1.5rem;
    }
  }

  a.change-quantity-button {
    background: #555;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 1.35rem;
    line-height: 1.5rem;
    border: 2px solid #555;
    transition: background .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    margin: 0 .5rem;

    &.disabled {
      cursor: default;
      opacity: .2;
    }

    &:not(.disabled):hover {
      background: #fff;
      border-color: #000;
      color: #000;
    }
  }
}

.cart-is-empty {
  border: 1px solid #eee;
  border-radius: .5rem;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  display: block;
}

.cart-summary {
  border-top: 2px solid #777;
  background: #fafafa;

  .row {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 8rem;

    .title {
      text-align: right;
      font-weight: bold;
    }

    .amount {
      text-align: center;
    }

    &:nth-child(odd) {
      background: #fff;
    }
  }
}

.cart-loading-indicator {
  display: none;
  margin: .5rem 0 2rem auto;
  padding: .5rem;
  text-align: center;
  background: #0076c699;
  color: white;
  width: 20rem;
}

.original-price {
    opacity: .5;
    text-decoration: line-through;
    font-size: .7em;
}
